/* Hackey-type CSS as a jQuery Alternative for when the browser does not have jQuery enabled. */
.noscript {
    display: none; }
  
  #serv-1:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-1 {
    display: block; }
  
  #serv-2:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-2 {
    display: block; }
  
  #serv-3:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-3 {
    display: block; }
  
  #serv-4:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-4 {
    display: block; }
  
  #serv-5:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-5 {
    display: block; }
  
  #serv-6:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-6 {
    display: block; }
  
  #serv-7:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-7 {
    display: block; }
  
  #serv-8:checked ~ .service-belt .service-wrap .service-container noscript #content-serv-8 {
    display: block; }
  
  .return {
    display: none; }
  
  .service-trigger {
    display: none; }
    .service-trigger:checked ~ .service-belt {
      left: -100%; }
      .service-trigger:checked ~ .service-belt .service-wrap .service-container {
        display: block; }
  
  /* End of gross / hackey CSS */
  .service-belt {
    width: 200%;
    position: relative;
    left: 0%;
    -webkit-transition: all, 800ms;
    -moz-transition: all, 800ms;
    transition: all, 800ms; }
    .service-belt.slided {
      -webkit-transform: translate3d(-50%, 0, 0);
      -moz-transform: translate3d(-50%, 0, 0);
      -ms-transform: translate3d(-50%, 0, 0);
      -o-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0); }


.thumb-wrap, .service-wrap {
  width: 50%;
  float: left; }

.service-thumb-container {
  display: block;
  max-width: 960px;
  margin: 0px auto; }
  .service-thumb-container:after {
    content: "";
    display: table;
    clear: both; }
  .service-thumb-container label {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    cursor: pointer; }
    .service-thumb-container label .thumb-unit {
      display: block;
      overflow: hidden; }
      .service-thumb-container label .thumb-unit img {
        display: block;
        max-width: 100%; }
    @media screen and (max-width: 760px) {
      .service-thumb-container label {
        width: 50%; } }
    .service-thumb-container label .thumb-overlay {
      position: absolute;
      -webkit-box-align: center;
      -moz-box-align: center;
      box-align: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      align-items: center;
      -ms-flex-align: center;
      -webkit-box-pack: center;
      -moz-box-pack: center;
      box-pack: center;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      -o-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: center;
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      background: rgba(255, 162, 193, 0.9);
      text-align: center; }
      .service-thumb-container label .thumb-overlay strong {
        display: block;
        padding: 0 9%;
        color: white;
        font-weight: 300;
        font-size: 24px;
        text-transform: uppercase;
        line-height: 1.2; }
    .service-thumb-container label:hover {
      z-index: 2; }

.service-container {
  max-width: 600px;
  margin: 0px auto;
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  display: none; }
  .service-container h4, .service-container noscript h4 {
    color: #c99065;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 1.2;
    margin: 0 0 20px; }
  .service-container img {
    max-width: 100%;
    margin-bottom: 20px; }
  .service-container .service-return {
    height: 50px;
    width: 50px;
    cursor: pointer;
    opacity: 0.5;
    position: absolute;
    top: -4px;
    left: -60px; }
    .service-container .service-return path {
      fill: rgba(255, 255, 255, 0.4); }
    .service-container .service-return:hover {
      opacity: 1; }

@media (max-width: 740px) {
  .service-container .service-return {
    left: 0px; }
  .service-container h4 {
    margin-left: 60px; } }
.section-clients {
  position: relative; }

  .thumb-wrap, .service-wrap {
    width: 50%;
    float: left; }
  
  .service-thumb-container {
    display: block;
    max-width: 960px;
    margin: 0px auto; }
    .service-thumb-container:after {
      content: "";
      display: table;
      clear: both; }
    .service-thumb-container label {
      position: relative;
      display: block;
      float: left;
      width: 25%;
      cursor: pointer; }
      .service-thumb-container label .thumb-unit {
        display: block;
        overflow: hidden; }
        .service-thumb-container label .thumb-unit img {
          display: block;
          max-width: 100%; }
      @media screen and (max-width: 760px) {
        .service-thumb-container label {
          width: 50%; } }
      .service-thumb-container label .thumb-overlay {
        position: absolute;
        -webkit-box-align: center;
        -moz-box-align: center;
        box-align: center;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        align-items: center;
        -ms-flex-align: center;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        box-pack: center;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: center;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        background: rgba(255, 162, 193, 0.9);
        text-align: center; }
        .service-thumb-container label .thumb-overlay strong {
          display: block;
          padding: 0 9%;
          color: white;
          font-weight: 300;
          font-size: 24px;
          text-transform: uppercase;
          line-height: 1.2; }
      .service-thumb-container label:hover {
        z-index: 2; }
  
  .service-container {
    max-width: 600px;
    margin: 0px auto;
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    display: none; }
    .service-container h4, .service-container noscript h4 {
      color: #c99065;
      font-weight: 300;
      text-transform: uppercase;
      font-size: 28px;
      line-height: 1.2;
      margin: 0 0 20px; }
    .service-container img {
      max-width: 100%;
      margin-bottom: 20px; }
    .service-container .service-return {
      height: 50px;
      width: 50px;
      cursor: pointer;
      opacity: 0.5;
      position: absolute;
      top: -4px;
      left: -60px; }
      .service-container .service-return path {
        fill: rgba(255, 255, 255, 0.4); }
      .service-container .service-return:hover {
        opacity: 1; }
  
  @media (max-width: 740px) {
    .service-container .service-return {
      left: 0px; }
    .service-container h4 {
      margin-left: 60px; } }
  .section-clients {
    position: relative; }
  